@media screen and (min-width:1024px) {
    .fullpage {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        border: 0.01rem solid #eee;
     
    }
    .fullpage .logo {
        position: absolute;
        left: 30px;
        top: 30px;
        z-index: 2;
    }
    .fullpage .left {
        width: 460px;
        position: absolute;
        left:0;
        top:0;
        height: 100%;
    }
    .fullpage .lunbo {
        display: block;
    }
      .easy-introduct-y{
        position: absolute;
        bottom:0;
        left:0;
        right: 0;
        padding: 0 40px;
        color:white;
        z-index:1000;
    }
        .easy-introduct-y .title{
            position: relative;
            bottom:96px;
            font: 18px/32px '微软雅黑';
            color: #fff;
            font-weight: 400;
            opacity: 0.8
            
        }
         .easy-introduct-y .represent{
             position: relative;
             bottom:58px;
             color: #fff;
              font-size: 18px;
              font-weight: 400;
              opacity: 0.8;
              right: -172px;
         }
        .easy-introduct-y .represent strong {
        font: 24px/24px '微软雅黑';
        margin-right: 10px;
        opacity: 0.8
    }
     .easy-introduct-l{
        position: absolute;
        bottom:0;
        left:0;
        right: 0;
        padding: 0 40px;
        color:white;
        z-index:1000;
    }
        .easy-introduct-l .title{
            position: relative;
            bottom:96px;
            font: 18px/32px '微软雅黑';
            color: #fff;
            font-weight: 400;
            opacity: 0.8
            
        }
         .easy-introduct-l .represent{
             position: relative;
             bottom:58px;
             color: #fff;
              font-size: 18px;
              font-weight: 400;
              opacity: 0.8;
             left:136px!important;
         }
        .easy-introduct-l .represent strong {
        font: 24px/24px '微软雅黑';
        margin-right: 10px;
        opacity: 0.8
    }


    .swiper-container {
        height: 100%;
    }
    .swiper-container-autoheight .swiper-slide {
        height: 100%;
    }
    .left .swiper-slide .yao {
        height: 100%;
        background-image: url(../img/Group4.png);
        background-size: cover;
    }
    .left .swiper-slide .lee {
        height: 100%;
        background-image: url(../img/Group5.png);
        background-size: cover;
    }
    .swiper-pagination-bullet-active{
        background: #fff!important;
    }
    .right {
        position: relative;
        left: 460px;
        width: calc(100% - 460px);
        float: none;
        height: 100%;
        left: 460px;
    }
    .contact {
        width: 220px;
        height: 47px;
        position: absolute;
        top: 33px;
        right: 13px;
    }
    .contact span {
        font: 14px/18px '微软雅黑';
    }
    .contact strong {
        font: 24px/36px '微软雅黑';
        font-weight: normal;
    }
    svg{
    width: 25px!important;
    height: 25px!important;
    }
    .center {
        width: 545px;
        height: 668px;
        position: absolute;
        top: 20%!important;
        left: 50%;
        margin-left: -280.5px;
    }
    .introduce {
        margin-bottom: 30px;
    }
    .introduce h2 {
        font: 24px/32px '微软雅黑';
        weight: Medium;
    }
    .introduce h6 {
        font: 18px/32px '微软雅黑';
    }
    .serialnumber {
        width: 545px;
        height: 90px;
        margin-bottom:40px;
    }
    .serialnumber .el-step__icon div {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        color: #333;
        line-height: 60px;
        border-color: #999
    }
    .el-step__line.is-horizontal {
        top: 32px;
        left: 63px;
        height: 2px;
    }
    .el-step__head.is-text.is-process {
        background-color: #fff ! important;
         border-color:#ff4949 ! important;
    }
    .el-step__head.is-text.is-wait {
        color: #999;
    }
     .is-success .el-step__line-inner{
        width: 100% !important;
    }
    .el-step__head {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        color: #333;
        line-height: 60px;
    }
    .el-icon-check {
        font: 20px/60px '微软雅黑';
    }
    .el-step__head.is-text.is-success {
        background: red;
        border-color: red;
    }
    .el-step.is-horizontal {
        width: calc(50% - 30px)!important;
    }
    .el-step__title.is-process {
        color: #333;
        font-weight: normal;
    }
    .el-step__title.is-success {
        color: red;
        font-weight: normal;
    }
    #jj .el-input__inner {
        border-radius: 25px;
        margin-top: 15px;
        text-indent: 18px;
        height: 50px;
        padding: 10px 10px;
         border-color: #dedede;; 
        color:#4a4a4a;
    }
    #jj .el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-textarea__inner {
    border-color: #ff4949;
   }
    
    .el-button {
        width: 180px;
        height: 50px;
        margin-left: 183px;
        border-radius: 25px;
        background: #Eb3349;
        color: #fff;
        border:none;
         margin-top: 40px;
    }
    .btn:hover {
        opacity:0.85;
        border:none;
        color:#fff;
    }
    .err-button{
        width: 180px;
        height: 50px;
        margin-left: 183px;
        border-radius: 25px;
        background:  #bfcbd9;
        color: #fff;
        border:none;
        cursor: not-allowed;
        margin-top: 40px;      
    }
    .yanzheng {
        font: 14px/14px '';
        position: absolute;
        top: 32px;
        right: 17px;
        background: #fff;
        outline-style: none;
         color:#333;

    }
    .begin {
        position: absolute;
        left: 2px;
        top: 34px;
        z-index: 3;
        font: 14px/14px '微软雅黑';
    }
    .class {
        margin-top: 40px;
    }
 
   
    .check{
        width: 20px;
        height: 20px;
        vertical-align: top;
        margin-right:5px;
    }
      .err{
        color:#Eb3349;
        font-size: 12px;
        position:relative;
        top:-11px;
        
    }
}


@media screen and (min-width: 769px) and (max-width:1024px){

.fullpage .left {
    width: 447px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.left .swiper-slide .yao {
    height: 100%;
    background-image: url(../images/Group4.png);
    background-size: cover;
    background-position: center;
}
.left .swiper-slide .lee {
    height: 100%;
    background-image: url(../images/Group5.png);
    background-size: cover;
    background-position: center;
}
.step3 .center {
        width: 545px;
        height: 668px;
        position: absolute;
        top: 13%!important;
        left: 50%;
        margin-left: -280.5px;
    }
}
@media screen and (min-width: 751px) and (max-width:769px){
      .step2 .el-step.is-horizontal {
        width: calc(44.1%)!important;
    }

.fullpage .left {
    width: 447px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: none;
}

.logo {
    position: absolute;
    top: 33px;
    left: 99px;
}
.contact {
        width: 220px;
        height: 47px;
        position: absolute;
        top: 33px;
        right: -74px;
    }
.step2 .yanzheng{
     position: absolute;
        top: 33px;
        right: 10px;
         font: 14px/14px '';
        position: absolute;
         background: #fff;
        outline-style: none;
         color:#333;
}   
         .step2 .serialnumber {
        width: 545px;
        height: 90px;
        margin-bottom:40px;
    }
    .step2 .serialnumber .el-step__icon div {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        color: #333;
        line-height: 60px;
        border-color: #999;
    }
    .step2 .el-step__line.is-horizontal {
        top: 32px;
        left: 63px;
        height: 2px;
    }
    .step2 .el-step__head.is-text.is-process {
        background-color: #fff ! important;
         border-color:#ff4949 ! important;
    }
    .step2 .el-step__head.is-text.is-wait {
        color: #999;
    }
     .step2 .is-success .el-step__line-inner{
        width: 100% !important;
    }
    .step2 .el-step__head {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        color: #333;
        line-height: 60px;
    }
    .step2 .el-icon-check {
        font: 20px/60px '微软雅黑';
    }
    .step2 .el-step__head.is-text.is-success {
        background: red;
        border-color: red;
    }
    
    .step2 .el-step__title.is-process {
        color: #333;
        font-weight: normal;
    }
    .step2 .el-step__title.is-success {
        color: red;
        font-weight: normal;
    }
     #jj .el-input__inner {

        border-radius: 25px!important;
        margin-top: 15px;
        text-indent: 18px;
        height: 50px;
        padding: 10px 10px;
         border-color: #dedede;; 
        color:#4a4a4a;
       
   
}
.step2 .el-button {
    width: 180px;
    height: 50px;
    margin-left: 183px;
    border-radius: 25px;
    background: #Eb3349;
    color: #fff;
    border: none;
    margin-top: 40px;
}
 .step2 .err-button{
        width: 180px;
        height: 50px;
        margin-left: 183px;
        border-radius: 25px;
        background:  #bfcbd9;
        color: #fff;
        border:none;
        cursor: not-allowed;
        margin-top: 40px;      
    }
   .check{
        width: 15px;
        height:15px;
        vertical-align: top;
        margin-right:5px;
    }
    
      
}     
@media screen and (max-width:750px) {
    .fullpage {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow-y: auto;
        border: 0.01rem solid #eee;
         overflow-x: hidden;
         position: relative;
    }
    .logo {
        position: absolute;
        left: 0.3rem;
        top: 0.5rem;
        width: 2.74rem;
        height: 0.56rem;
    }
    .fullpage .lunbo {
        display: none;
    }
    .right {
        position: relative;
        width:100%;
        height: 100%;
    }
    .right .contact {
        width: 3.9rem;
        height: 0.41rem;
        position: absolute;
        top: 0.5rem;
        left: 4.5rem;
    }
    .name {
        margin-top: 0.2rem;
    }
      svg{
        width:0.6rem!important;
        height: 0.6rem!important;
        position: absolute;
        top:0.02rem;
        left:-0.64rem;
    }
    .contact span {
        font: 0.24rem/0.36rem '微软雅黑';
    }
    .contact strong {
        font: 0.34rem/0.34rem '微软雅黑';
        font-weight: normal;
    }
    .right .center {
        width: 94%;
        /* height: 13.34rem; */
        margin-top: 1.8rem;
        margin-bottom: 1.34rem;
        margin-left: 3%;
        margin-right:3% ;
    }
    .introduce {
        margin-bottom: 0.3rem;
    }
    .introduce h2 {
        font: 0.4rem/0.5rem '微软雅黑';
        weight: Medium;
    }
    .introduce h6 {
        font: 0.3rem/0.5rem '微软雅黑';
    }
    .serialnumber {
        height: 1.8rem;
       width:100%;
       margin-bottom: 0.6rem; 
        /* background: green; */
    }
     .serialnumber .el-step__icon div {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        text-align: center;
        font-size: 0.4rem;
        color: #333;
        line-height: 1.2rem;
    }
     .step2 .el-step.is-horizontal {
        width: calc(40.4%)!important;
    }
    .el-step__line.is-horizontal {
        top: 0.62rem;
        height: 0.04rem;
        left: 1.29rem;
        right: 0;
    }
    .el-step__head.is-text.is-wait {
        color: #999;
        border-color: #999
    }
    .el-step__head {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        line-height: 1.2rem;
        font-size: 0.56rem;
        line-height: 1.28rem;
        text-align: center;
    }
    .el-step__title.is-wait {
        color: #999;
    }
    .el-icon-check {
        font: 0.4rem/1.2rem '微软雅黑';
    }
    .el-step__head.is-text.is-success {
        background: red;
        border-color: red;
    }
    .el-step__title.is-process {
        color: #333;
        font-weight: normal;
    }
    .el-step__title.is-success {
        color: red;
        font-weight: normal;
    }
     .el-step__head.is-text.is-process {
        background-color: #fff ! important;
         border-color:#ff4949 ! important;
    }
      .is-success .el-step__line-inner{
        width: 100% !important;
    }
   
    #jj .el-input__inner {
      width: 100%;
        border-radius: 0.8rem;
        margin-top: 0.1rem;
        height: 0.7rem;
        text-indent: 0.2rem;
        border-color: #dedede;; 
        color:#4a4a4a;
        
    }
    .el-form-item.is-error .el-textarea__inner {
        border-color: #ff4949;
    }
    .el-button {
        width: 3.4rem;
        height: 1rem;
        margin-left: 1.8rem;
        border-radius: 0.25rem;
        background: #Eb3349;
        color: #fff;
        padding: 0.2rem 0.5rem;
    }
     .err-button{
        width: 3.4rem;
        height: 0.8rem;
        margin-left: 1.8rem;
        border-radius: 0.25rem;
        background: #bfcbd9;
        color: #fff;
        border:none;
        cursor: not-allowed;
        padding: 0.2rem 0.5rem;
        margin-top: 0.6rem;
    }
     .btn:hover {
        opacity:0.85;
        border:none;
        color:#fff;
    }
    .check{
        width: 0.32rem;
        height: 0.32rem;
        vertical-align: top;
        margin-right:0.15rem;
    }
    .yanzheng {
        position: absolute;
        right: 0.46rem;
        top: 0.20rem;
        background: #fff;
        outline-style: none;
        color:#000;
        opacity: 0.4
    }
    .begin {
        display: block;
        position: absolute;
        top: 0.28rem;
        z-index: 3;
        font: 14px/14px '微软雅黑';
        display: none;
    }
     .err{
        color:#Eb3349;
        font-size: 12px;
        position:relative;
        top:-0.33rem;
        
    }
}

.step2 .spinner {
    margin: 100px auto;
    width: 35px;
    height: 35px;
    position: absolute;
    /* display: none; */
    top: 78%;
    left: 47%;}
